<!DOCTYPE html>
<html>
<head>
  <meta charset="utf-8">
  <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
  <title><%= queueName %></title>
  <style>
    .min-size {
      min-height: 10px
    }

    .header-wrapper {
    background-color: #f2f3c7;
    max-width: 800px;
    margin: 0 auto;
    padding: 20px;
    border-radius: 10px;
    }

    .header {
    width: 90%;
    max-width: 800px;
    margin: 0 auto;
    padding: 10px;
    }

    .mid {
      display: flex;
      justify-content: center;
      align-items: center;
      width: 90%;
      max-width: 800px;
      margin: 0 auto;
      border-radius: 10px;
      background-color: #E0F2F1;
    }

    .mid-second {
      display: block;
      justify-content: flex-start;
      width: 90%;
      max-width: 800px;
      margin: 0 auto;
      padding: 50;
      border-radius: 10px;
      background-color: #E0F2F1;
    }

    .list {
      display: flex;
      justify-content: flex-start;
      width: 90%;
      max-width: 800px;
      margin: 0 auto;
      background-color: #F5F5F5;
      border-radius: 10px;
    }

    .li-0 {
      background-color: #C8E6C9;
      border-radius: 5px;
      min-width: 300px
    }
    .li-1 {
      background-color: #a5dfa7;
      border-radius: 5px;
      min-width: 300px
    }

  </style>
</head>
<body class="">
  <div id="container">
    <div class="header-wrapper">
        <div class="header">
    <h2>Ви в черзі:</h2>
    <h1 id="h-title"><%= queueName %></h1>
    
    <% if (isHost) { %>
      </div></div>
      <div class="min-size"></div>
      <div class="mid">
        <label for="queueNameInput">Змінити назву черги:</label>
        <input type="text" id="queueNameInput" value="<%= queueName %>">
        <button id="updateQueueNameBtn">Оновити назву</button>
      </div>
      <div class="min-size"></div>
      <div class="mid">
        <label id="nextParticipantLab" for="nextParticipantBtn">
          <% if (typeof next === 'undefined') { %> 
            Немає наступного учасника (ви або ще нікого не викликали, або учасників більше нема)
          <% } else { %>
            Наступний учасник: <%= next.name %>
          <% } %>
        </label>
        <button id="nextParticipantBtn">Наступний</button>
      </div>
      <div class="min-size"></div>
      <div class="list">
        <h2>Учасники:</h2>
        <ul id="participantsList">
          <% for (let i=0; i < participants.length; i++) { %>
            <% if (i%2 == 0) { %>
              <li class="li-0"><%= participants[i].name %> (позиція: <%= participants[i].position %>)</li>
            <% } else { %>
              <li class="li-1"><%= participants[i].name %> (позиція: <%= participants[i].position %>)</li>
            <% } %>
          <% } %>
        </ul>
      </div>
    <% } else { %>
      <p id="hostName">Ім'я власника: <%= hostName %></p>
      </div></div>
      <div class="min-size"></div>
      <div class="mid-second">
        <p id="clientName">Ваше ім'я: <%= clientName %></p>
        <p id="position">Ваша позиція: <%= position %></p>
      </div>
    <% } %>
  </div>

  <script>
    // Geting diferent data, if client is host
    const isHost = <%= isHost %>;
    const queueId = <%= queueId %>;
    let queueName = `<%= queueName %>`;
    const sessionId = `<%= sessionId %>`;
    <% if (isHost) { %>
      let participants = [<%= participants %>];
    <% } else { %>
      let participants = [];
    <% } %>

    // Event handler for update info
    function sendUpdateRequest() {
      $.ajax({
        url: `/queue/${queueId}/update`,
        method: 'POST',
        data: { sessionId: sessionId },
        success: function(inputData) {
          // Update info:

          // Update queue name
          queueName = inputData.queueName;
          document.querySelector('#h-title').textContent = inputData.queueName;

          if (isHost) {
            // Updating info for Host

            // Get and save participant list
            participants = inputData.participants
            document.querySelector('#queueNameInput').value = inputData.queueName;
            
            // Updating next particiant info
            const nextParticipantLabel = document.querySelector('#nextParticipantLab');
            if (!inputData.next) {
              nextParticipantLabel.textContent = 
              `Немає наступного учасника (ви або ще нікого не викликали, або учасників більше нема)`;
            } else {
              nextParticipantLabel.textContent = `Наступний учасник: ${inputData.next.name}`;
            }

            // Updation particiant list
            const participantsList = document.querySelector('#participantsList');
            participantsList.innerHTML = '';

            for (let i = 0; i < participants.length; i++) {
              const participant = participants[i];
              const participantItem = document.createElement('li');
              participantItem.textContent = `${participant.name} (позиція: ${participant.position})`;

              if (i % 2 === 0) {
                participantItem.classList.add('li-0');
              } else {
                participantItem.classList.add('li-1');
              }

              participantsList.appendChild(participantItem);
            }
            // End of updating info for Host
          } else if (inputData.isOut) {
            // Updating if client is out of queue
            document.querySelector('#position').textContent = 
              `Ви вже були викликані і ваша черга минула!`;
          } else {
            // Updating for client
            if (inputData.position > 1) {
              document.querySelector('#position').textContent = 
              `Ваша позиція: ${inputData.position}`;
            } else if (inputData.position == 1) {
              document.querySelector('#position').textContent = 
              `Ваша позиція: ${inputData.position} (Увага! ви можете бути наступним!)`;
            } else if (inputData.position == 0) {
              document.querySelector('#position').textContent = 
              `Вас викликали!`;
            } 
          }

        },
        error: function(error) {
          console.log('Виникла помилка при відправці запиту:', error);
        }
      });
    }
    // End of updation info

    // First updating
    sendUpdateRequest();

    // Update every 10 seconds
    setInterval(function() {
      sendUpdateRequest();
    }, 10000);
 
    <% if (isHost) { %>
      // Add this handlers only if client is Host
      
      // Event handler for call next participant
      document.getElementById('nextParticipantBtn').addEventListener('click', () => {
        // just send post, server do all himself
        $.ajax({
          url: `/queue/${queueId}/next`,
          method: 'POST',
          data: { sessionId: sessionId },
          success: (data) => {
            // after send post, update info
            sendUpdateRequest();
          },
          error: (xhr, status, error) => {
            console.error('Помилка:', error);
          }
        });
      });

      // Event handler for change queue name
      document.getElementById('updateQueueNameBtn').addEventListener('click', function() {
        $.ajax({
          url: `/queue/${queueId}/change`,
          type: 'POST',
          data: {
            sessionId: sessionId,
            queueName: document.getElementById('queueNameInput').value
          },
          success: function() {
            // Update info
            sendUpdateRequest();
          },
          error: function() {
            console.log('Помилка запиту на зміну назви черги.');
          }
        });
      });
    <% } %>

  </script>
</body>
</html>
